<?php
$this->headLink()
     ->appendStylesheet($this->websiteUrl . 'system/css/reset.css')
     ->appendStylesheet($this->websiteUrl . 'system/css/seotoaster-ui.css')
     ->appendStylesheet($this->websiteUrl . 'system/css/seotoaster.css');
echo $this->headLink();

$this->jQuery()->enable();
$this->jQuery()->uiEnable();
$this->jQuery()
     ->addJavascriptFile($this->websiteUrl . 'system/js/external/chosen/chosen.jquery.min.js')
     ->addJavascriptFile($this->websiteUrl . 'system/js/external/jquery/plugins/cookie/jquery.cookie.js')
     ->addJavascriptFile($this->websiteUrl . 'system/js/external/smoke/smoke.min.js')
     ->addJavascriptFile($this->websiteUrl . 'system/js/internal/system.min.js');
echo $this->jQuery();
?>

<div class="seotoaster container">
    <div class="header">
        <div class="closebutton">
           <a class="close ticon-close" href="javascript:;" title="<?php echo $this->translate('Close'); ?>"></a>
        </div>
        <?php echo $this->translate('Fast button configuration'); ?>
    </div>
    <form class="content-footer fastbutton-config" name="fastbutton-configuration" action="<?php echo $this->websiteUrl; ?>api/fastbutton/fastbutton/" method="POST">
        <p class="grid_4">
            <label>Type of target</label>
            <select name="target">
                <?php foreach($this->typeList as $key => $value): ?>
                    <option <?php echo ($key == $this->target) ? 'selected="selected"' : ''; ?> value="<?php echo $key; ?>"><?php echo $value; ?></option>
                <?php endforeach; ?>
            </select>
        </p>
        <div class="grid_8 mt0px">
            <label>Button link</label>
            <select name="link" style=" width: 20px;float: right; text-align: right;margin-bottom: -30px; position: relative;">
                <option value="0"><?php echo $this->translate('Select a page'); ?></option>
                <?php foreach($this->pagesList as $key => $value): ?>
                    <option value="<?php echo $value->url; ?>"><?php echo $value->h1; ?></option>
                <?php endforeach; ?>
            </select>
            <input style="padding-right: 20px;" type="text" name="link" value="<?php echo $this->link; ?>" placeholder="#" />
        </div>
        <div class="grid_6">
            <label>Button text</label>
            <input type="text" name="text" value="<?php echo $this->text; ?>" />
        </div>
        <div class="grid_6">
            <label>Button title</label>
            <input type="text" name="title" value="<?php echo $this->title; ?>" />
        </div>
        <?php if($this->isSAdmin): ?>
        <div class="grid_12">
            <label>Class list of button <sup class="warning">(This field visible only for super admin)</sup></label>
            <input type="text" name="class" value="<?php echo $this->classList; ?>" placeholder="btn large" />
        </div>
        <?php endif; ?>
        <p class="grid_12">
            <button class="saveConfig btn ticon-save _fajax _reload" type="submit"
                name="saveConfig"><?php echo $this->translate('Save config'); ?></button>
        </p>
        <input type="hidden" name="container" value="<?php echo $this->containerName; ?>"/>
        <input type="hidden" name="pageId" value="<?php echo $this->pageId; ?>"/>

    </form>
</div>
<script type="text/javascript">
    $(function () {
        $(".saveConfig").on('click', function (e) {
            e.preventDefault();
            showSpinner();
            $.ajax({
                type: 'POST',
                url: '<?php echo $this->websiteUrl; ?>api/fastbutton/fastbutton/',
                dataType: 'json',
                data: $(this).closest('form').serialize(),
                success: function (response) {
                    if (!response.error) {
                        showMessage("Done");
                        top.location.reload();
                    }
                },
                error: function (err) {
                    showMessage(err, true);
                }
            });
            hideSpinner();
        });

        $('select[name="link"]').on('change', function(){
            if($(this).val() != 0){
                $('input[name="link"]').val($(this).val());
                $('input[name="link"]').attr('disabled', 'disabled');
            } else {
                $('input[name="link"]').removeAttr('disabled');
            }
        });
    });
</script>